#### Q1. List any five functions of the pandas library with execution.

head()

tail()

describe()

pandas.read_csv()

pandas.read_excel()

pandas.Series()

pandas.DataFrame()

In [1]:
import pandas as pd
list=[1,2,3,4]
series=pd.Series(list)
print(series)
dict={'Name':['kushi','teju','mom','dad'],'age':[18,12,25,30],'job':['software','B-tech','housewife','lecturer']}
df=pd.DataFrame(dict)
print(df)
df.describe()

0    1
1    2
2    3
3    4
dtype: int64
    Name  age        job
0  kushi   18   software
1   teju   12     B-tech
2    mom   25  housewife
3    dad   30   lecturer

             age
count   4.000000
mean   21.250000
std     7.889867
min    12.000000
25%    16.500000
50%    21.500000
75%    26.250000
max    30.000000

In [2]:
df.head()

    Name  age        job
0  kushi   18   software
1   teju   12     B-tech
2    mom   25  housewife
3    dad   30   lecturer

In [3]:
df.tail()

    Name  age        job
0  kushi   18   software
1   teju   12     B-tech
2    mom   25  housewife
3    dad   30   lecturer

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [4]:
import pandas as pd
dict={'A':['kushi','teju','mom','dad'],'B':[18,12,25,30],'C':['software','B-tech','housewife','lecturer']}
df=pd.DataFrame(dict)
print(df)
new_index=pd.RangeIndex(start=1,step=2,stop=len(df)*2)
df1=df.set_index(new_index)
print(df1)

       A   B          C
0  kushi  18   software
1   teju  12     B-tech
2    mom  25  housewife
3    dad  30   lecturer
       A   B          C
1  kushi  18   software
3   teju  12     B-tech
5    mom  25  housewife
7    dad  30   lecturer

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [5]:
import pandas as pd
dict={'Values':[18,12,25,30,40,50,23,45,65,80,76,34]}
df=pd.DataFrame(dict)
print(df)    
calculate_sum(df)

    Values
0       18
1       12
2       25
3       30
4       40
5       50
6       23
7       45
8       65
9       80
10      76
11      34

NameError: name 'calculate_sum' is not defined

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

import pandas

dict={'Text':['hello','mom','i am','eating']}

df=pd.DataFrame(dict)

df1=add_word_count(df)

print(df1)

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

In [6]:
import pandas as pd
dict={'A':[18,12,25],'B':[4,5,6]}
df=pd.DataFrame(dict)
print(df) 
print(df.size)
print(df.shape)

    A  B
0  18  4
1  12  5
2  25  6
6
(3, 2)

DataFrame.size() returns the total number of elements in dataframe.

DataFrame.shape() returns the tuple representing dimensions(number of rows and columns) of dataframe

#### Q6. Which function of pandas do we use to read an excel file?

pandas.read_excel()

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [7]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str.get(0)
    return df

df = pd.DataFrame({'Email': ['john@example.com', 'jane@example.com']})
df = extract_username(df)
print(df)

              Email Username
0  john@example.com     john
1  jane@example.com     jane

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:
#### A B C
0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

#### Your function should select the following rows: A B C
1 8 2 7

4 9 1 2

In [8]:
import pandas as pd
data={'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df=pd.DataFrame(data)
print(df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [9]:
df[(df['A']>5) & (df['B']<10)]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [10]:
import pandas as pd
data={'Values':[1,2,3,4,5]}
df=pd.DataFrame(data)
print(df)
df.describe()

   Values
0       1
1       2
2       3
3       4
4       5

         Values
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [11]:
import pandas as pd

def calculate_moving_average(df):
    df = df.sort_values('Date')
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df
df = pd.DataFrame({'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08'],
                   'Sales': [10, 15, 20, 25, 30, 35, 40, 45]})
df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-07-01     10           10.0
1  2023-07-02     15           12.5
2  2023-07-03     20           15.0
3  2023-07-04     25           17.5
4  2023-07-05     30           20.0
5  2023-07-06     35           22.5
6  2023-07-07     40           25.0
7  2023-07-08     45           30.0

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. For example, if df contains the following values:
#### Date
0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05
#### Your function should create the following DataFrame:

#### Date Weekday
0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday
#### The function should return the modified DataFrame.

import pandas as pd

def add_weekday_column(df):
    
    df['Date'] = pd.to_datetime(df['Date'])
    
    df['Weekday'] = df['Date'].dt.weekday_name
    
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

df = add_weekday_column(df)

print(df)

#### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

import pandas as pd

def select_rows_between_dates(df):
    
    df['Date'] = pd.to_datetime(df['Date']) 
    
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31') 
    
    selected_rows = df.loc[mask]  
    
    return selected_rows

#### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

pandas library is to be imported first